body {
    margin: 0;
    background-color: black;
}

.navbar {
    height: 72px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: purple;
    color: white;
}

.navbar > nav > a {
    padding: 0 10px; 
    color: white; 
    text-transform: uppercase; 
    text-decoration: none;
}

.navbar > nav > a:hover {
    color: palevioletred;
    border-bottom: 1px palevioletred dotted;
}

footer {
    background-color: darkgoldenrod !important;
    color: black !important;
}

article {
    text-align: center;
}

article::after {
    display: block;
    content: "";
    border: 3px palevioletred solid;
}

.article-author{
    color: darkgrey; 
    font-weight: bold; 
    font-size: smaller;
}

.article-title {
    color: limegreen; 
    font-size: 48px; 
    font-weight: 900;
}

.planet {
    width:100%; 
    max-height: 250px; 
    object-fit: cover;
}

article > section {
    text-align: justify;
    padding: 0 20px;
    color: limegreen; 
    font-size: 24px;
}

article > section > p:first-child {
    text-indent: 80px
}